@font-face {
    src: url('/com/example/chessgame/fonts/Mt-Bold.ttf');
}
@font-face {
    src: url('/com/example/chessgame/fonts/ForoSans-Light.ttf');
}

.background{
    -fx-background-color: #BDC4D2;
}

#title{
    -fx-font-family: Montserrat Bold;
    -fx-font-size: 16pt;
}

.button{
    -fx-background-color: linear-gradient(to bottom, #7891D2, #50669F);
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #7B61FF, #5341B0);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #FEFEFE, #C5C0DB);
}