#progressBar{
    -fx-accent: #7B61FF;
}
.button{
    -fx-background-color: linear-gradient(to bottom, #7891D2, #50669F);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #7B61FF, #5341B0);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #FEFEFE, #C5C0DB);
}
